@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';

$custom-colors: (
    "primary": #ffc600,
    "secondary": #1b1500
);

$font-sizes: map-merge($font-sizes, (7: 0.760rem, 8: 0.585rem));
$theme-colors: map-merge($theme-colors, $custom-colors);

@import 'bootstrap/scss/bootstrap';
